* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

/* ---- header option ---- */
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  width: 1263px;
  height: 808px;
}

.header-info {
  direction: rtl;
  padding-right: 100px;
  padding-top: 216px;
  padding-left: 835px;
}

.header-title {
  font-weight: 700;
  font-size: 45px;
  color: #151414;
  margin-bottom: 24px;
}

.header-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

.btn-primary {
    background-color: #fd6e05;
    color: white;
    padding: 15px 20px;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
}

.btn-primary:hover {
    cursor: pointer;
}

