* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

/* ---- header option ---- */
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  width: 1263px;
  height: 808px;
  margin-bottom: 131px;
}

.header-info {
  direction: rtl;
  padding-right: 100px;
  padding-top: 216px;
  padding-left: 835px;
}

.header-title {
  font-weight: 700;
  font-size: 45px;
  color: #151414;
  margin-bottom: 24px;
}

.header-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

.btn-primary {
  background-color: #fd6e05;
  color: white;
  padding: 15px 20px;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
}

.btn-primary:hover {
  cursor: pointer;
}

/* ---- Failure section */
.failure-section {
  padding-left: 150px;
  padding-right: 100px;
  margin-bottom: 110px;
}

.failure-section-parents {
  display: flex;
  align-items: center;
}

.failure-section-img {
}

.failure-section-text {
  padding-top: 250px;
}

.failure-section-img {
  margin-right: 87px;
}

.failure-section-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.failure-section-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
}

.failure-section-list {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  list-style-type: none;
}

.fa-solid {
  color: green;
}

/* ---- plan section ---- */
.plan-section {
  padding: 0px 230px;
  margin-bottom: 120px;
}

.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}

.plan-section-parents {
  display: flex;
  justify-content: space-between;
}

.plan-section-icon {
  text-align: center;
}

.plan-section-description {
  color: #737272;
}

/* ---- Regular activities section ---- */
.regular-activities {
  padding: 0px 230px;
  margin-bottom: 120px;
}

.activities-icon {
  width: 92.96px;
  height: 92.96px;
}

/* ---- motivation section ---- */
.motivation-section {
  margin: 0px 190px;
  margin-bottom: 130px;
}

.motivation-section-info {
  background-image: linear-gradient(
      to right,
      rgba(246, 134, 24, 0.8),
      rgba(66, 66, 66, 0.8) 100%
    ),
    url(../images/watch.png);
  width: 900px;
  height: 250px;
  border-radius: 8px;
}

.motivation-section-info-details {
  padding-left: 64px;
  padding-top: 59px;
  padding-bottom: 59px;
  padding-right: 617px;
}

.motivation-section-title {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.motivation-section-btn {
  background-color: white;
  color: #f15b22;
  border: 0px;
  padding: 15px 20px;
  font-weight: 700;
  border-radius: 5px;
}

.motivation-section-btn:hover {
  cursor: pointer;
}

/* ---- footer section ---- */
.footer-section {
  padding: 130px 230px;
  background-color: black;
}

.footer-parents {
  display: flex;
}

.footer-child01 {
  padding-right: 300px;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.footer-description01 {
  margin-bottom: 15px;
  color: white;
}

.footer-description02 {
  margin-bottom: 15px;
  color: white;
}

.footer-title01 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.footer-input-email {
  padding: 10px;
  margin-bottom: 15px;
}

.footer-icon {
  margin-right: 10px;
}
