* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

/* ---- header option ---- */
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  width: 1263px;
  height: 808px;
  margin-bottom: 131px;
}

.header-info {
  direction: rtl;
  padding-right: 100px;
  padding-top: 216px;
  padding-left: 835px;
}

.header-title {
  font-weight: 700;
  font-size: 45px;
  color: #151414;
  margin-bottom: 24px;
}

.header-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

.btn-primary {
  background-color: #fd6e05;
  color: white;
  padding: 15px 20px;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
}

.btn-primary:hover {
  cursor: pointer;
}

/* ---- Failure section */
.failure-section {
  padding-left: 150px;
  padding-right: 100px;
  margin-bottom: 110px;
}

.failure-section-parents {
  display: flex;
  align-items: center;
}

.failure-section-img {
}

.failure-section-text {
  padding-top: 250px;
}

.failure-section-img {
  margin-right: 87px;
}

.failure-section-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.failure-section-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
}

/* ---- plan section ---- */
.plan-section {
  padding: 0px 230px;
}

.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}

.plan-section-parents {
    display: flex;
    justify-content: space-between;
}

.plan-section-icon {
    text-align: center;
}
